:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --color-primary: #ff014f;
  --color-gray: #878e99;
  --color-red: #ff0000;
  --color-lightn: #c4cfde;
  --color-white: #ffffff;
  --color-body: #878e99;
  --color-light: #e4e6ea;
  --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --background-color-2: linear-gradient(to right bottom, #212428, #16181c);
  --background-color-hex1: #1f2125;
  --background-color-hex2: #181a1e;
}
body {
  scroll-behavior: smooth;
  font-family: var(--font-primary);
}
body::-webkit-scrollbar {
  width: 8px;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-lightn);
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: black;
}
/* #root{
    display: none;
} */
#preloader {
  height: 100vh;
  background: black url(../gif/2.gif) no-repeat center;
  background-size: 5%;
  width: 100%;
  position: fixed;
}

.txt-primary {
  color: var(--color-primary);
}

/* header section start */

.header {
  background-color: #212428de;
  box-shadow: var(--shadow-1);
  backdrop-filter: blur(15px);
  padding: 15px 5%;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
  border: none;
}

.container-fluid {
  background-color: #212428;
  padding: 0;
}
.brand-con {
  display: flex;
  align-items: center;
  text-decoration: none;
  .brand-img {
    height: 40px;
  }
}
.brand-txt {
  color: var(--color-lightn);
  font-family: var(--font-primary);
  padding-left: 20px;
}
.header-butt {
  margin: 0 10px 0 10px;
}
.header .collapse .navbar-nav .nav-item .nav-link {
  font-size: 13px;
  color: var(--color-lightn);
}
.header .navbar-collapse .navbar-nav .nav-item.active .nav-link {
  color: var(--color-white);
}
.header .collapse .navbar-nav .nav-item .nav-link:hover {
  color: var(--color-white);
}
.header .collapse {
  visibility: unset;
}
.btn-container {
  transition: 0.4s;
  position: relative;
  margin-top: 5px;
  transition: 0.4s ease-in-out;
}
.buy-button {
  top: 50px;
  text-decoration: none;
  padding: 17px 19px;
  border-radius: 6px;
  background: var(--background-color-hex1);
  box-shadow: var(--shadow-1);
  transition: 0.4s ease-in-out;
}
.btn-text {
  font-size: 13px;
  font-weight: bold;
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

.btn-container:hover {
  margin-top: -1px;
}
.buy-button:hover {
  background: var(--background-color-hex2);
}

.hvr-underline-from-center:before {
  background: var(--color-primary) !important;
  height: 2px !important;
}

/* header section end */
.zustand_btn {
  display: none;
}
/* Hero section start */
.hero-main {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/bg14.jpg");
  position: relative;
  overflow: hidden;
}
.hero {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 170px;
  position: relative;
}
.star-ani {
  position: absolute;
  top: 30px;
  left: -20px;
  color: red;
  z-index: 0;
}
.star-ani i {
  color: white;
  animation: animateStar 28s linear infinite;
  display: block;
  font-size: 3px;
}
.star-ani2 {
  position: absolute;
  top: 30px;
  left: -20px;
  color: red;
  z-index: 0;
}
.star-ani2 i {
  color: white;
  animation: animateStar2 25s linear infinite;
  display: block;
  font-size: 3px;
}
@keyframes animateStar2 {
  0% {
    transform: translateX(0vw);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateX(100vw);
    opacity: 1;
  }
}
@keyframes animateStar {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

.star-ani i:nth-child(1) {
  margin-bottom: 30px;
}
.star-ani i:nth-child(2) {
  animation-delay: 10s;
  margin-bottom: 20px;
}
.star-ani i:nth-child(3) {
  animation-delay: 5s;
  margin-bottom: 30px;
  font-size: 5px;
}
.star-ani i:nth-child(4) {
  animation-delay: 15s;
  margin-bottom: 10px;
}
.star-ani i:nth-child(5) {
  animation-delay: 8s;
  margin-bottom: 30px;
}
.star-ani i:nth-child(6) {
  animation-delay: 20s;
  font-size: 5px;
}
.star-ani i:nth-child(7) {
  animation-delay: 13s;
}

.star-ani2 i:nth-child(1) {
  animation-delay: 18s;
  margin-bottom: 10px;
  margin-top: 10px;
}
.star-ani2 i:nth-child(2) {
  animation-delay: 13s;
  margin-bottom: 10px;
}
.star-ani2 i:nth-child(3) {
  animation-delay: 20s;
  font-size: 5px;
  margin-bottom: 30px;
}
.star-ani2 i:nth-child(4) {
  animation-delay: 8s;
  margin-bottom: 10px;
}
.star-ani2 i:nth-child(5) {
  animation-delay: 15s;
  margin-bottom: 30px;
}
.star-ani2 i:nth-child(6) {
  animation-delay: 5s;
  font-size: 4px;
}
.star-ani2 i:nth-child(7) {
  animation-delay: 10s;
}

.hero-no1 {
  margin-bottom: 140px;
}

.dynamic-text {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  margin-left: -15px;
}
.dynamic-text li {
  list-style: none;
  position: relative;
  top: 0;
  animation: slide 6s steps(2) infinite;
}

.vdo {
  color: white;
  height: 100%;
  width: 100%;
}

@keyframes slide {
  100% {
    top: -190px;
  }
}
.dynamic-text li span {
  position: relative;
}

.left-hero {
}
.hero-subtitle {
  font-size: 14px;
  font-family: var(--font-secondary);
  color: var(--color-lightn);
  letter-spacing: 3px;
  font-weight: 500;
  display: block;
  margin-bottom: 20px;
}
.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 57px;
  font-family: var(--font-primary);
  text-shadow: 2px 2px black;
}
.hero-desc {
  font-size: 16px;
  line-height: 30px;
  color: white;
  padding-right: 16%;
  opacity: 0.8;
  letter-spacing: 1px;
  font-family: var(--font-primary);
  font-weight: 600px;
  text-shadow: 2px 1px black;
}

.right-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 25px;
}
.inner {
  position: relative;
  background-color: #1f2125;
  border-radius: 6px;
  height: 480px;
  width: 455px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner::after {
  content: "";
  position: absolute;
  height: 700px;
  width: 700px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #d400d4
  );
  animation: innerAnimate 4s linear infinite;
  animation-delay: -2s;
}
.inner::before {
  content: "";
  position: absolute;
  height: 700px;
  width: 700px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ccff
  );
  animation: innerAnimate 4s linear infinite;
}
.inner span {
  position: absolute;
  inset: 5px;
  background: #1f2125;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes innerAnimate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hero-cntr {
}
.hero-img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.hvr-sweep-to-bottom:before {
  background: black;
  border-radius: 5px;
}
.social-title {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 300;
  color: var(--color-lightn);
}

.share-icon {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  background: var(--background-color-hex1);
  /* box-shadow: var(--shadow-1); */
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
}
.share-icon .fa-php {
  color: #00ccff;
}
.share-icon .fa-laravel {
  color: var(--color-primary);
}
.share-icon .fa-react {
  color: #00ccff;
}
.share-icon:hover {
  margin-top: -1px;
  background: var(--background-color-hex2);
  color: var(--color-lightn);
}
.list-style {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.link-style {
  text-decoration: none;
  color: var(--color-lightn);
}

.share-logo {
  max-height: 23px;
  width: auto;
}

.hero-border {
  max-width: 1270px;
  height: 1px;
  background: #121415;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* Hero section end */

/* WhatIDO section start */
.whatI-container {
  border-top: 1px solid black;
  margin-bottom: 80px;
}
.feature-container {
  margin-bottom: 80px;
}

.main-container {
  margin-top: 100px;
}
.what-con {
  margin-top: 25px;
}
.whatI-sub {
  color: var(--color-primary);
  letter-spacing: 1px;
  display: block;
  line-height: 14px;
  margin-bottom: 10px;
}
.whatI-title {
  font-size: 60px;
  font-weight: bolder;
  line-height: 1.2;
  color: var(--color-lightn);
  margin-top: 15px;
  margin-bottom: 0;
}

.categories-container {
  margin-top: 50px;
}

.what-card {
  background: var(--background-color-hex1);
  min-height: 370px;
  width: 100%;
  text-align: left;
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  padding: 70px 50px 35px 50px;
  transition: 0.5s ease-in-out;
}
.what-content {
  transition: 0.4s;
  text-decoration: none;
}
.what-card:hover {
  background: var(--background-color-hex2);
}

.what-card:hover .what-content {
  margin-top: -20px;
}

.what-card:hover .right-arrow-icon {
  display: flex !important;
}
.cat-card2 {
  background: var(--background-color-hex1);
  height: auto;
  width: auto;
  text-align: left;
  padding: 5px;
  box-shadow: var(--shadow-1);
  transition: 0.5s ease-in-out;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}

.cat-card2:hover {
  background: var(--background-color-hex2);
}

.card-title {
  color: var(--color-lightn);
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
.card-title2 {
  color: var(--color-lightn);
  font-family: var(--color-primary);
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 20px;
  display: inline-block;
  transition: 0.4s ease-in-out;
  text-decoration: none;
}
.card-title2:hover {
  color: var(--color-primary);
}
.go-right {
  display: none !important;
}
.card-title2:hover .go-right {
  display: inline-block !important;
}
.card-desc {
  color: var(--color-lightn);
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 35px;
}
.card-img {
  height: auto;
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
  overflow: hidden;
  display: block;
}

.card-img-con {
  height: auto;
  width: 100%;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
  overflow: hidden;
  display: block;
}
.cat-card2:hover .card-img {
  transform: scale(1.1);
}

.right-arrow-icon {
  color: var(--color-primary);
  display: none !important;
  transition: 0.4s;
}

.bars-icon {
  margin-bottom: 40px;
}
.bars-icon i {
  color: var(--color-primary);
  font-size: 35px;
}

.title-con {
  display: flex;
  justify-content: space-between;
}

.title-con-header {
  color: var(--color-primary);
  font-weight: 600;
  font-family: var(--font-primary);
  font-size: 12px;
  letter-spacing: 1px;
  display: block;
  transition: 0.4s;
  text-decoration: none;
  text-transform: uppercase;
}
.title-con-header:hover {
  color: var(--color-primary) !important;
}

.title-con-desc {
  color: var(--color-lightn);
  font-weight: 500;
  font-family: var(--font-primary);
  font-size: 13px;
}
.fa-heart {
  transition: 0.4s;
}
.fa-heart:hover {
  color: var(--color-primary);
}

/* WhatIDO section end */

/* Portfolio Start */
.modal {
  height: 100%;
  width: 100%;
  background: var(--background-color-1);
}
.modal-container {
  padding: 80px 60px 80px 60px;
}
.modal-con {
  padding: 50px 40px 50px 40px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  border-radius: 10px;
}
.innerHTML {
  color: var(--color-lightn);
}
.portfolio-modal-img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}
.portfolio-modal-title {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 700;
  color: var(--color-lightn);
  line-height: 1.3;
}
.portfolio-modal-subtitle {
  display: block;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-body);
  font-weight: 500;
  margin-bottom: 5px;
}
.portfolio-modal-desc {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-body);
  font-weight: 400;
  margin-bottom: 0;
  width: 93%;
}
.close-btn-con {
  position: absolute;
  display: flex;
  right: 10px;
  top: 10px;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  justify-content: center;
  align-items: center;
}
.close-btn {
  color: var(--color-lightn);
  margin-bottom: 0px;
}
.portfolio-modal-button {
  height: auto;
  width: auto;
  background: var(--background-color-hex1);
  box-shadow: var(--shadow-1);
  padding: 20px;
  color: var(--color-primary);
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  transition: 0.4s ease-in-out;
}
.portfolio-modal-button:hover {
  background: var(--background-color-hex2);
}
.modal-btn-con {
  display: flex;
  margin-top: 40px;
}

/* Portfolio End */

/* Footer start  */

.footer {
  padding-bottom: 70px;
  border-top: 1px solid black;
}
.footer-txt {
  font-size: 17px;
  color: var(--color-body);
  font-family: var(--font-primary);
}
.footer-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  img {
    width: 500px;
  }
}

.logo-con {
  justify-content: center;
  align-items: center;
}
/* Footer end */

/* Carousel start */
#carouselExampleCaptions {
  border-top: 1px solid black;
  margin-bottom: 50px;
}
.car-item {
  margin-bottom: 80px !important;
}
.content-info {
  min-height: 570px;
  padding: 30px 30px 30px 30px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  margin-right: 25px;
}

.content-desc {
  min-height: 455px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  padding: 40px 40px 40px 40px;
  position: relative;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  margin-top: 115px;
}
.content-desc::before {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  position: absolute;
  background-color: #181a1d;
  left: -49px;
  top: 66px;
}
.content-desc::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  background-image: url(../icon/quote.png);
  background-size: cover;
  left: 0;
  top: -130px;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center center;
}

.testi-img-con {
  transition: 0.4s ease-in-out;
  border-radius: 5px;
  overflow: hidden;
  display: block;
}
.testi-img {
  height: auto;
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
}
.testi-img:hover {
  transform: scale(1.1);
}
.carousel-indicators {
}

.card-title-car {
  color: var(--color-lightn);
  font-family: var(--color-primary);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px !important;
}
.card-desc-car {
  color: var(--color-lightn);
  font-size: 16px;
  line-height: 28px;
}

.carousel-control-prev {
  all: unset;
  position: absolute !important;
  color: var(--color-body) !important;
  top: 50px !important;
  right: 185px !important;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  height: 60px;
  width: 60px;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}
.carousel-control-prev:hover {
  color: var(--color-primary) !important;
}
.carousel-control-next {
  all: unset;
  position: absolute !important;
  color: var(--color-body) !important;
  top: 50px !important;
  right: 105px !important;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  height: 60px;
  width: 60px;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}
.carousel-control-next:hover {
  color: var(--color-primary) !important;
}
.border-test {
  height: 5px;
  width: 50px;
  background: var(--background-color-2);
}
.info-box {
  border-bottom: 2px solid #1a1d23;
}
.desc-con {
  width: 75%;
}
.star-con {
  background-color: var(--background-color-1);
  box-shadow: var(--shadow-1);
  width: 130px;
  height: 40px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.operating-text {
  color: var(--color-body);
  font-size: 14px;
}

.fa-star {
  margin: 2px;
  color: #ffab1a;
  align-items: center;
}

.car-desc-text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #878e99;
}

/* Carousel end */

/* Blog start  */
.blog-close-btn-con {
  position: absolute;
  display: flex;
  text-decoration: none;
  right: -45px;
  top: -45px;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  justify-content: center;
  align-items: center;
}
.cat-card-blog {
  background: var(--background-color-hex1);
  text-align: left;
  padding: 5px;
  box-shadow: var(--shadow-1);
  transition: 0.5s ease-in-out;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
}
.cat-card-blog:hover {
  background: var(--background-color-hex2);
}
.card-img-blog {
  height: auto;
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
  overflow: hidden;
  display: block;
}
.cat-card-blog:hover .card-img-con {
  transform: scale(1.1);
}

.hvr-icon-wobble-horizontal {
  margin-top: -20px;
}
.blog-modal-con {
  padding: 60px;
  margin: 0px 100px 50px 100px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  border-radius: 10px;
}
.blog-modal-img {
  height: auto;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 40px;
}
.modal-date {
  display: block;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-lightn);
  font-weight: 500;
  margin-bottom: 9px;
}
.modal-blog-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-lightn);
  margin-top: 40px;
  margin-bottom: 20px;
}
.modal-blog-desc {
  font-size: 16px;
  line-height: 28px;
  color: var(--color-body);
  font-weight: 400;
}

/* Blog end */

/* Pricing Start */
.pricing-con {
  border-top: 1px solid black;
  margin-bottom: 100px;
}
.pri-con {
  margin-top: 120px;
}
.prc {
  position: sticky;
  top: 120px;
}
.pricing-title {
  font-size: 60px;
  font-weight: bolder;
  line-height: 1.2;
  color: var(--color-lightn);
  margin-top: 15px;
  margin-bottom: 0;
  text-align: center;
}
.pricing-subcon {
  height: auto;
  width: 100%;
  margin-top: 60px;
}
.price-button-con {
  height: auto;
  width: 100%;
  border-bottom: none;
  box-shadow: var(--shadow-1);
}
.price-button-con li {
  min-height: 80px;
  width: 33.33% !important;
  text-align: center;
  border-radius: 10px;
  transition: 0.4s;
  background: #212428;
}
:focus-visible {
  outline: none !important;
}

.price-button-con li a {
  color: var(--color-white);
  height: 100%;
  width: auto !important;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-content22 {
  color: var(--color-lightn);
  padding: 30px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  background-color: transparent;
  border: none !important;
  font-weight: 600 !important;
  box-shadow: var(--shadow-1);
  color: var(--color-primary);
  border-radius: 10px;
}
.nav-tabs .nav-link {
  border: none;
}
.pricing-con .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  box-shadow: var(--shadow-1) !important;
  border-radius: 10px;
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 600 !important;
}

.static-con {
  padding: 0 30px 0px 30px;
}
.static-title {
  font-size: 27px;
  color: var(--color-lightn);
  margin-bottom: 9px;
  font-weight: 700;
  font-family: var(--font-secondary);
}
.static-titleun {
  color: #7c838e;
  font-family: var(--font-secondary);
}
.static-top-txt {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.money {
  color: var(--color-primary);
  font-size: 30px;
  font-weight: 600;
  padding: 9px 25px;
  box-shadow: var(--shadow-1);
  border-radius: 6px;
  display: inline-block;
}

.static-subtitle {
  font-size: 18px;
  line-height: 30px;
  max-width: 84%;
  font-weight: 500;
  color: #7c838e;
  font-family: var(--font-primary);
  margin-bottom: 50px;
}
.ul-con {
  display: flex;
  justify-content: space-between;
}
.left-area {
  padding-left: 0;
}
.right-area {
  padding-left: 0;
}
.left-area li {
  list-style: none;
  margin-left: 5px;
  color: var(--color-lightn);
  font-weight: 400;
  font-size: 18px;
  font-family: var(--font-secondary);
  margin-bottom: 15px;
}
.right-area li {
  list-style: none;
  margin-left: 5px;
  color: var(--color-lightn);
  font-weight: 400;
  font-size: 18px;
  font-family: var(--font-secondary);
  margin-bottom: 15px;
}
.order-butt-con {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  box-shadow: var(--shadow-1);
  border-radius: 10px;
}
.order-butt {
  width: 100%;
  padding: 20px 0px 20px 0px;
  background: var(--background-color-1);
  text-align: center;
  color: var(--color-primary);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 10px;
}

.static-footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.static-footer p {
  font-size: 12px;
  font-weight: 500;
  color: #9ca5b1;
  margin-top: 5px;
  letter-spacing: 1px;
  font-family: var(--font-secondary);
}
.hvr-sweep-to-right:hover {
  color: #121415 !important;
}
.hvr-sweep-to-right:before {
  background-color: var(--color-lightn) !important;
  border-radius: 10px;
}
.recommended {
  position: absolute;
  background: #545961;
  padding: 5px 13px;
  font-size: 12px;
  border-radius: 30px;
  color: #fff;
  top: -50px;
  right: 30px;
}
.recommended::after {
  content: "";
  right: 28px;
  top: 27px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #545961;
  z-index: 1;
}

/* Pricing End */

/* Contact Start */
.contact-info {
  min-height: 750px;
  width: 100%;
  padding: 30px 30px 30px 30px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  margin-right: 25px;
}
.form-info {
  min-height: 750px;
  width: 100%;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  margin-left: 20px;
  padding: 20px 30px 30px 30px;
}
.contact-img-con {
  transition: 0.4s ease-in-out;
  border-radius: 5px;
  overflow: hidden;
  display: block;
}
.contact-img {
  height: auto;
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
}
.contact-info:hover .contact-img {
  transform: scale(1.1);
}
.contact-title {
  font-size: 29px;
  line-height: 44px;
  color: var(--color-light);
  margin-bottom: 9px;
  font-family: var(--font-secondary);
  font-weight: bold;
  margin-top: 25px;
}

.contact-text {
  font-size: 18px;
  color: var(--color-body);
  font-family: var(--font-primary);
}
.contact-text2 {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-body);
  font-family: var(--font-primary);
  line-height: 30px;
  display: inline-block;
  margin-bottom: 20px;
}
.phone-text {
  font-size: 18px;
  color: var(--color-body);
  font-family: var(--font-primary);
  margin-bottom: 0;
}
.phone-text span {
  color: var(--color-lightn);
  transition: 0.4s ease-in-out;
}
.phone-text span:hover {
  color: var(--color-primary);
}
.contact-findme .social-title {
  color: var(--color-body);
  margin-top: 20px;
}
.hvr-underline-from-left:before {
  background: var(--color-primary) !important;
  height: 1px !important;
}

.contact-form label {
  font-size: 12px;
  color: #a0a8b3;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  margin-bottom: 14px;
  margin-top: 30px;
  text-align: left;
  display: block;
}
.contact-form .form-group {
}
.contact-form .form-group input {
  background-color: #191b1e;
  border-radius: 6px;
  height: 55px;
  transition: 0.4s;
  border: 2px solid #191b1e;
  padding: 0 15px;
  font-size: 14px;
  font-family: var(--font-secondary);
  color: var(--color-lightn);
  box-shadow: var(--inner-shadow);
  letter-spacing: 1px;
}
.contact-form .form-group input:focus {
  border: 2px solid var(--color-lightn);
}
.contact-form .form-group textarea {
  background-color: #191b1e;
  border-radius: 6px;
  min-height: 235px;
  transition: 0.4s;
  border: 2px solid #191b1e;
  padding: 0 15px;
  font-size: 14px;
  font-family: var(--font-secondary);
  color: var(--color-lightn);
  box-shadow: var(--inner-shadow);
  letter-spacing: 1px;
}
.contact-form .form-group textarea:focus {
  border: 2px solid var(--color-lightn);
}
.contact-form .order-butt-con {
  margin-top: 20px;
}
.contact-butt-con {
}
.contact-butt {
  height: auto;
  width: 100%;
  padding: 20px 0px 20px 0px;
  background: var(--background-color-2);
  text-align: center;
  color: var(--color-lightn);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: var(--shadow-1);
  border: none;
}
.hvr-sweep-to-right:active,
.hvr-sweep-to-right:focus {
  color: #191b1e !important;
}
/* Contact End */

/* Resume Start */

#resume {
  border-top: 1px solid black;
}

.resume-con {
  padding-left: 31px;
  border-left: 5px solid #17191c;
}
.resume-subcon {
  margin-top: 25px;
  position: relative;
}

.resume-tab-content {
  color: var(--color-lightn);
}
.tab-con-res {
}
.resume-button-con {
  border-bottom: none;
  box-shadow: var(--shadow-1);
  margin: 0px 10px;
}
.resume-button-con li {
  min-height: 80px;
  text-align: center;
  border-radius: 10px;
  transition: 0.4s;
  background: #212428;
  padding-right: 0;
  padding-left: 0;
}
.resume-button-con li a {
  color: var(--color-white);
  height: 100%;
  width: auto !important;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatI-sub {
  color: var(--color-primary);
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
}
.whatI-title {
  font-size: 40px;
  font-weight: bolder;
  line-height: 1.2;
  color: var(--color-lightn);
  margin-top: 15px;
  margin-bottom: 0;
}
.resume-title {
  color: var(--color-lightn);
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.resume-card {
  background: var(--background-color-hex1);
  width: 100%;
  text-align: left;
  box-shadow: var(--shadow-1);
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  padding: 50px 40px 40px 40px;
  transition: 0.4s;
}
.resume-card:hover {
  background: var(--background-color-hex2);
}
.resume-content {
  transition: 0.4s;
  text-decoration: none;
}

.resume-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1a1d23;
  margin-bottom: 20px;
}

.res-rating {
  display: inline-block;
}
.res-rating span {
  color: var(--color-primary);
  display: block;
  font-size: 14px;
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  background: var(--background-color-1);
  box-shadow: var(--shadow-1);
  transition: 0.4s;
  font-weight: 600;
}
.resume-desc {
  font-size: 19px;
  line-height: 28px;
  color: var(--color-body);
  transition: 0.4s;
}
.resume-subtitle {
  color: #7c838e;
  display: block;
  font-size: 15px;
}
.left-border {
  position: absolute;
  width: 28px;
  height: 5px;
  top: 63px;
  left: -30px;
  background: #17191c;
}
.left-circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 5px solid #17191c;
  border-radius: 100%;
  top: 55px;
  left: -40px;
  background: #222529;
  transition: 0.4s;
}
.resume-subcon:hover .left-circle {
  background: var(--color-primary);
}
.prog-con {
  position: relative;
  margin-bottom: 40px;
}
.progress {
  height: 13px;
  background: #212428;
  box-shadow: inset 8px 8px 16px #00000075, inset -8px -8px 16px #383e4575;
  border-radius: 10px;
  padding: 3px;
  position: relative;
}
.progress-bar {
  animation-duration: 0.6s;
  animation-delay: 0.4s;
  animation-name: fadeInLeft;
  background: linear-gradient(145deg, #f02981 0%, #c81901 100%);
  border-radius: 10px;
}
.bar-txt {
  margin-bottom: 15px;
  color: #c3cedd;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.9;
  font-weight: 400;
}
.perc {
  position: absolute;
  right: 0px;
  top: 10px;
  font-weight: 400;
  color: #c3cedd;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.9;
}
.perc2 {
  position: absolute;
  right: 22px;
  top: 10px;
  font-weight: 400;
  color: #c3cedd;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.9;
}
.perc3 {
  position: absolute;
  right: 208px;
  top: 10px;
  font-weight: 400;
  color: #c3cedd;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.9;
}
.perc4 {
  position: absolute;
  right: 155px;
  top: 10px;
  font-weight: 400;
  color: #c3cedd;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.9;
}
.perc5 {
  position: absolute;
  right: 47px;
  top: 10px;
  font-weight: 400;
  color: #c3cedd;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.9;
}
.margin-con {
  margin-bottom: 100px;
}
/* Resume End */

/* Clients Start */
.clients-con {
  border-top: 1px solid black;
}
.clients-subcon {
  margin-top: 50px;
}
.clients-con .nav {
  box-shadow: var(--shadow-1);
  border-radius: 10px;
}
.clients-con .nav .nav-link {
  border: none;
  font-size: 18px;
  color: var(--color-light);
  height: 90px;
  border-radius: 10px;
  padding: 15px 20px;
  width: 100%;
  display: flex;
  margin: 0;
  align-items: center;
  transition: 0.3s;
  justify-content: center;
  background-color: var(--background-color-1);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  box-shadow: var(--shadow-1);
  color: var(--color-primary);
}
.clients-con .nav-link:hover {
  box-shadow: var(--shadow-1);
  color: var(--color-primary);
}
.clients-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-lightn);
  margin-top: 15px;
  margin-bottom: 0;
}
.clients-content {
  height: auto;
  width: 100%;
  background: var(--background-color-hex1);
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}
.clients-content:hover {
  background: var(--background-color-hex2);
}
.client-img-con {
  height: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px;
  border-bottom: 1px solid black;
}
.client-txt-con {
  padding: 16px;
  color: #7c838e;
  text-align: center;
}
.client-con {
  padding: 0 15px;
  margin-bottom: 50px;
}
.client-butt {
  margin-bottom: 50px;
}
.client-butt .nav-pills {
  position: sticky;
  top: 120px;
}
/* Clients End */

@media (min-width: 1200px) {
  .car-item {
    margin: 0px 90px 0px 90px;
  }
  .content-info {
    margin-left: 50px;
  }
}

@media (max-width: 1200px) {
  .car-item {
    padding: 0px 20px 0px 20px;
  }
  .content-info {
    min-height: 450px;
  }
  .carousel-control-next {
    right: 20px !important;
  }
  .carousel-control-prev {
    right: 100px !important;
  }
  .navbar-nav {
    margin: 50px;
  }
  .navbar-nav {
    text-align: center;
  }
  .btn-container {
    display: none;
  }
  .what-card {
    min-height: 320px;
  }
  .left-area li {
    font-size: 16px;
  }
  .right-area li {
    font-size: 16px;
  }
  .inner {
    height: 370px;
  }
  .content-desc {
    min-height: 335px;
  }
  .blog-modal-con {
    margin: 0px;
  }
  .modal-container {
    padding: 80px 30px 80px 30px;
  }
  .modal-con {
    padding: 50px 30px 50px 30px;
  }
}

@media (max-width: 1050px) {
}

@media (max-width: 991px) {
  .hero {
    min-height: 1150px;
  }
  .right-hero {
    min-height: 500px;
    width: 100%;
  }
  .left-hero {
    position: absolute;
    min-height: 600px;
    width: 100%;
    top: 600px;
  }
  .hero-no1 {
    margin-bottom: 50px;
  }

  .carousel-control-next {
    display: none;
  }
  .carousel-control-prev {
    display: none;
  }
  .content-info {
    display: flex;
    margin-right: 0px;
  }
  .content-desc::before {
    display: none;
  }
  .content-desc::after {
    display: none;
  }
  .testi-img {
    height: 110px;
    width: auto;
    border-radius: 10px;
    transition: 0.5s;
    margin-right: 25px;
  }
  .content-info {
    min-height: auto;
  }
  .content-info-desc {
    margin-top: 10px;
  }
  .content-desc {
    margin-top: 30px;
    padding: 20px 30px 35px 30px;
  }
  .what-card {
    min-height: 350px;
  }
  .price-header {
    justify-content: center;
  }
  .contact-info {
    margin-bottom: 50px;
  }
  .form-info {
    margin-left: 0px;
  }
  .inner {
    height: 430px;
    width: 420px;
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: 1300px;
  }
  .what-card {
    min-height: 280px;
    padding: 60px 30px 0px 30px;
  }
  .bars-icon {
    margin-bottom: 20px;
  }
  .left-area li {
    margin-right: 20px;
    font-size: 13px;
  }
  .right-area li {
    font-size: 13px;
  }
  .blog-modal-con {
    padding: 30px;
  }
  .hero-title {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .hero {
    min-height: 1400px;
  }
  .left-area li {
    font-size: 12px;
  }
  .right-area li {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .hero-title {
    font-size: 32px;
    margin-bottom: -20px;
  }
  .hero {
    margin-bottom: 0px;
  }
  .footer-con {
    img {
      width: 80%;
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 100%;
    margin: 0;
  }
}
